<div class="row">
    <div class="col-sm-3 mb-3 mb-sm-0 ">
      <div class="card p-5 bg-info bg-gradient rounded ">
        <div class="card-body">
          <h5 class="card-title">image</h5>
          <p class="card-text text-light">value</p>
          <a href="#" class="btn btn-primary">Humidity</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card p-5 bg-success bg-gradient">
        <div class="card-body">
          <h5 class="card-title">image</h5>
          <p class="card-text text-light">value</p>
          <a href="#" class="btn btn-primary">Humidity</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card p-5 bg-warning bg-gradient">
        <div class="card-body">
          <h5 class="card-title">image</h5>
          <p class="card-text text-light">value</p>
          <a href="#" class="btn btn-primary">Humidity</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card p-5 bg-secondary bg-gradient">
        <div class="card-body">
          <h5 class="card-title">image</h5>
          <p class="card-text text-light">value</p>
          <a href="#" class="btn btn-primary">Humidity</a>
        </div>
      </div>
    </div>
  </div>

  